#Basket {
    width: 72%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#basket
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}