#Home
{
    margin: -14vh -5vw 10vh -5vw;
}

#mainImageHm
{
    padding: 0;
    width: 100%;
    position:relative;
    padding-bottom: 96vh;
}

#mainImageHm #homeMainImg
{
    width: 100%;
    height: 96vh;
    z-index: 0;
    position:absolute;
}

#homeMainWtBgImg
{
    top: 0;
    width: 50.76%;
    height: 75.4vh;
    z-index: 1;
    position:absolute;
    margin-left: 27.82%;
    margin-top: 8.94vh;
}

.asteroidMenu
{
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    border: none;
    font-family: 'Space';
}   

.asteroidMenu:disabled:hover
{
    cursor:default;
}

.asteroidMenu:hover
{
    border-bottom: 2px solid white;
    cursor: pointer;
}

#mainImageHm .asteroidMenu:nth-child(2)
{
    margin-top: 7vh;
    margin-left: 10%;
}

#mainImageHm .asteroidMenu:nth-child(3)
{
    margin-top: 20vh;
    margin-left: 12%;
}

#mainImageHm .asteroidMenu:nth-child(4)
{
    margin-top: 33vh;
    margin-left: 9%;
}   

#mainImageHm .asteroidMenu:nth-child(6)
{
    margin-top: 47vh;
    margin-left: 78%;
}

#mainImageHm .asteroidMenu:nth-child(7)
{
    margin-top: 60vh;
    margin-left: 74%;
}

#mainImageHm .asteroidMenu:nth-child(8)
{
    margin-top: 73vh;
    margin-left: 68%;
}


.scroll-container {
    width: 100vw;
    overflow: hidden;
    display: flex;
  }
  
  .scroll-content {
    display: flex;
    width: 200%;
    gap: 20px;
  }
  
  .scroll-content img {
    width: 200px;
    height: auto;
  }
  