#Header
{
    height: 4.5vh;
    width: 100%;
    padding: 1vh 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#header
{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 2vw;
    
}

/* 20 */
#LogoH
{
    display: inline;
    height: 100%;
    width: 25%;
}
#LogoH button
{
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    height: 100%;
}

#LogoH img
{
    height: 100%;
    display: inline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.rotate {
    transform: rotate(180deg);
}
.unrotate {
    transform: rotate(0deg);
}
/* 45 */
#MenuH
{
    width: 45%;
    height: 100%;
    font-size: 2.5vmin;
}

#MenuH, #MenuH ul
{
    list-style: none;
    display: inline-flex;
}

#MenuH ul
{
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

#MenuH ul li
{
    height: fit-content;
    width: 25%;
    height: 100%;
}


#MenuH ul a
{
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#Basket_UserDataH
{
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: end;
    gap: 7%;
    font-size: 2.5vmin;
}

#BasketH
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#BasketH svg
{
    width: 100%;
    height: 70%;
    fill: white;
    transition: all 0.2s ease-in-out;
}

#BasketH:hover svg
{
    transition: all 0.2s ease-in-out;
    fill: #6325cf;
}   
#UserDataH
{
    height: 100%;
    display: flex;
    gap: 8%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;   
}

#UserDataH a
{
    height: 100%;
    display: flex;
    align-items: center;
}

#UserDataH a img
{
    height: 100%;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;

}

#UserDataH
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    justify-content: space-evenly;   
}


#UserLogReg
{
    height: 100%;
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;  
    color: #fbd97d;
}

#UserLogReg button
{
    color: white;
    border: none;
    background: none;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    align-self: self-end;
    text-decoration: none;
    cursor: pointer;
}

#UserLogReg p
{
    height: 100%;
    display: flex;
    align-items: center;
}

#UserDataH a
{
    position: relative;
    align-self: self-end;
    text-decoration: none;
}

