body{
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
a{
    color: rgb(255, 255, 255);
}
  
*
{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

.App{
  height: 100%;  
}

ul
{
    margin: 0;
    padding: 0;
}

.bot_line::before,
.bot_line::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: white;
  bottom: -1px;
  transition: width 0.3s ease-in-out;
}

.bot_line::before {
  left: 0;
}

.bot_line::after {
  right: 0;
}

.bot_line:hover::before,
.bot_line:hover::after {
  width: 50%;
}


@font-face {
    font-family: "Ubuntu";
    src: url("./font/UbuntuRegular.woff") format("woff");
}

@font-face {
  font-family: "Space";
  src: url("./font/ProjectSpace.ttf");
}

input, textarea, input:hover, textarea:hover 
{
  border: none;
  outline: none;  
}